header{
    text-align: center;
    color: white;
    font: normal 24pt arial;
}
body{
    background-color: rgb(78, 78, 250);
}
section{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
}

footer{
    color: white;
    text-align: center;
}